<div class="settings-screen">
  <app-sidebar></app-sidebar>

  <main class="settings-main">
    <app-settings-header></app-settings-header>

    <section class="settings-grid">
      <div class="settings-grid__left">
        <app-settings-identity-card></app-settings-identity-card>
        <app-settings-security-card></app-settings-security-card>
      </div>

      <!-- <aside class="settings-grid__right">
        <app-settings-alert-logic></app-settings-alert-logic>
        <app-settings-sync-panel></app-settings-sync-panel>
      </aside> -->
    </section>
  </main>
</div>
