<div class="alerts-screen">
  <app-sidebar></app-sidebar>

  <main class="alerts-main">


    <section class="alerts-main-grid">
      <div class="alerts-main-grid__left">
        <app-alerts-table></app-alerts-table>
    
      </div>

      <div class="alerts-main-grid__right">
        <app-alerts-create-panel></app-alerts-create-panel>
      </div>
    </section>
  </main>

  <!-- <app-create-alert-modal
    [open]="isCreateAlertModalOpen"
    (closed)="closeCreateAlertModal()"
  ></app-create-alert-modal> -->
</div>