<div class="portfolio-screen">
  <app-sidebar></app-sidebar>

  <main class="portfolio-main">
  
    <section class="portfolio-overview-grid">
      <app-portfolio-value-card [refreshTrigger]="refreshTrigger"></app-portfolio-value-card>

      <div class="portfolio-overview-grid__right">
          <app-portfolio-action-card
            (openAddModal)="openAddAssetModal()"
            (openSellModal)="openSellAssetModal()"
          ></app-portfolio-action-card>
      </div>
    </section>

    <app-portfolio-holdings-table [refreshTrigger]="refreshTrigger"></app-portfolio-holdings-table>
    <app-portfolio-transactions-table [refreshTrigger]="refreshTrigger"></app-portfolio-transactions-table>
  </main>

  <app-add-asset-modal
    [open]="isAddAssetModalOpen"
    (closed)="closeAddAssetModal()"
    (assetCreated)="handleAssetCreated(); closeAddAssetModal()"
  ></app-add-asset-modal>

    <app-sell-asset-modal
      [open]="isSellAssetModalOpen"
      (closed)="closeSellAssetModal()"
      (assetSold)="handleAssetSold(); closeSellAssetModal()"
    ></app-sell-asset-modal>
</div>
